extends layout/main

block content
    div
        img(src="#", alt="월별 비밀의 화원")

    div
        img(src="#", alt="주식창")        
    div
        ul 오늘 할일들
            li 토이프로젝트 틀 만들기
            li 
            li
            li
        