extends layout/main
include mixins/diaryBlock

block content
    h1 secret diary
    h5 달력형 일기
    h5 목록형 일기
    a(href="/write-diary")
        h3 일기작성
    each item in diary
        +diaryBlock({
            id : item.id,
            title : item.title,
            content : item.content,
            createAt : item.createdAt
        })

    //- 일기 작성폼은 따로
    //- form(action="/secretDiary", method="post")
    //-     input(type="text", name="diaryTitle")
    //-     textarea(name="diaryContent", cols="30", rows="10")
    //-     input(type="submit", value="완료")