extends layout/main
include mixins/todoBlock

block content
    h1 todo
    form(action="/todo", method="post").js-todoForm.Form
        input(type="text", name="todoTitle" placeholder="")
        textarea(name="todoDetail", cols="30", rows="10")
        input(type="time", name="todoDuedate")
        input(type="submit", value="할 일 등록")
    
    .pending__board
        li.js-pendingList=todoList
    .finished__board
        h3.finishedList Finished

    each item in todoList
            +todoBlock({
                id : item.id,
                title : item.todoTitle,
                detail : item.todoDetail
            })
    .todo__thisWeeksGoal
        h3 이번주 목표 변경
        h6.js-goalScreen 거북이 달린다
            button.js-goalEditBtn ✏
        
            
        form(method="POST")#js-goalForm
            input(type="text", name="goalTitle").js-goalInput
            //- input(type="text", name="weeksGoalDetail").js-goalInput
            //- input(type="submit", value="수정")
            input(type="submit", value="enter")
    //- script(src=".././assets/js/goals")
    //- <script>
    //-     const delBtn = document.getElementById("js-deleteButton");

    //-     function handleDelBtn (event) {
    //-         console.log("1")
    //-     }
    //-     if(delBtn) {
    //-         delBtn.addEventListener("click", handleDelBtn);
    //-     }
    //- </script>
    //- script(src="../JStodo/todo.js")