extends layout/main

block content
    h3 일기쓰기
    form(action="/write-diary_process", method="post")
        input(type="text", name="diaryTitle")
        textarea(name="diaryContent", cols="30", rows="10")
        input(type="submit", value="완료")