div.sidebar
    h3 
        a(href="/") home
    h3
        a(href="/todo") 투두리스트 관리
    h3 
        a(href="/timer") 공부의 시간(타이머)
    h3 
        a(href="/secret-diary") 비밀일기
    h3
        a(href="/rank") 화원랭크(공유플랫폼)