.sidebar
    .sidebar__column
        a(href="/")
            h3.sidebar_list home
        a(href="/todo") 
            h3.sidebar_list 투두리스트 관리
        a(href="/timer")
            h3.sidebar_list 공부의 시간(타이머)
        a(href="/secret-diary/me")
            h3.sidebar_list 비밀일기
        a(href="/rank")
            h3.sidebar_list 화원랭크(공유플랫폼)